<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!--
      This permission is required by the Patrol test runner for the 'e2e' flavor
      to find and relaunch the app under test after pressHome().
    -->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"/>
</manifest>
